@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600;700;800&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;;
}
.text-primary{
    color: #fd6e0a;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 50px 150px;
}
.nav-title{
   font-weight: 900;
   font-size: 30px;
   /* color: #fd6e0a; */
}
nav ul{
    display: flex;
    align-items: center;
}
nav ul li{
    list-style-type: none;
    margin-right: 80px;
}
ul li a {
    text-decoration: none;
    color: #333;
}
.btn-grp{
 margin-top: 20px;
}
.btn{
    padding: 10px 25px;
    background-color: #fd6e0a;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    color: #fff;
}
.btn-second{
    padding: 10px 25px;
    background-color: transparent;
    border-radius: 5px;
    border:1px solid #fd6e0a;
    font-size: 20px;
    color: #fd6e0a;
    margin-left: 20px;
}
 /* main{
    position: relative;
} */
 /* .devoloper{
    position: absolute;
    left: 0;top: 0;
    z-index: 1000;
} */
header{
    background-color: #fff8f3;
   background: url(../image/header_bg.png), url(../image/developer.png);
    background-repeat: no-repeat;
    background-position: bottom right, left;
    /* height: 800px; */
 }
.banner{
    display: flex;
    align-items: center;
    /* justify-content: center; */
    margin: 80px 150px;
}
.banner h3{
    color: #333;
    font-size: 30px;
    font-weight: 600;
}
.banner h1{
    color: #000000;
    font-size: 60px;
    font-weight: 700;
    margin-top: 20px;

}
.banner p{
    color: rgb(114, 114, 114);
    margin-top: 20px;

}
.content{
    width: 50%;
    /* margin-bottom: 150px; */
}

img{
    height: 410px;
}


main{
    max-width: 1050px;
    margin: 0 auto;
}
.about{
    background-color: #fff8f3;
    border-radius: 5px;
    margin-top: 130px;
    padding: 130px 150px;
}
.about h3{
   text-align: center;
   margin-bottom: 30px;
   font-weight: 700;
   font-size: 30px;
}
.about .description{
    color: #6e6e6e;
    margin-bottom: 30px;
}
.about .info{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.info li{
    list-style: none;
    text-align: center;
}
.info li p{
    color: #6e6e6e;
}
.what-i-do{
    /* margin-top: 20px; */
    margin-top: 130px;
}
.what-i-do h3{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
 }
 .what-i-do p{
    color: #6e6e6e;
    margin-bottom: 15px;
 }
 .skill-container{
    display: flex;
    gap: 20px;
 }
 .skill{
    background: rgb(255, 255, 255);
    box-shadow: 0px 10px 10px #00000050;
    border-radius: 5px;
    padding: 20px;
 }
 .skill-container img{
    height: 30px;
    width: 30px;
    margin-bottom: 10px;
 }
 .skill-container .skill-title{
    margin-bottom: 10px;
 }



 .resume{
    margin-top: 130px;
 }
 .resume .section-title{
    text-align: center;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px;
 }

 .resume-container{
  display: flex;
    gap: 45px;
 }
 .skill-title{
   margin: 10px 0;
   font-size: 22px;
}
.small-title{
     border-bottom: .5px solid #6e6e6e;
    padding: 20px 0;
 }
 .small-title h4{
    margin-bottom: 10px;
    font-size: 20px;
 }
 .small-title h5{
    color: #6e6e6e;
    font-weight: 600;
    font-size: 15px;
 }
 .small-title p{
    color: #6e6e6e;
    margin-top: 15px;
 }
 .resume-btn{
    margin-top: 50px;
    text-align: center;
 }
 footer{
background-color: #fff8f3;
margin-top: 200px;
}
footer .items{
    display: flex;
    max-width: 1050px;
    margin: 0 auto;
    padding: 100px 0;
    gap: 80px;
}
footer .items .contact input{
    width: 100%;
    border: none;
    padding: 15px 10px;
    margin-bottom: 15px;
}
footer .items .contact textarea{
    width: 100%;
    height: 135px;
    border: none;
    padding: 15px 10px;
    margin-bottom: 20px;
}
footer .items h3{
    text-align: left;
    margin-bottom: 30px;
    font-weight: 700;
    font-size: 30px
}
footer .items p{
    font-size: 12px;
    color: #6e6e6e;
    margin-bottom: 20px;
}
footer .items .links{
    display: flex;
    gap: 20px;
    
}
footer .connect li{
    list-style: none;
}
footer .connect li a img{
    width: 15px;
    height: 15px;
}